body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl: 25px;

  /* Colors */
  --color-black: #000;
}
